.header {
  background: black;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: 0.7s;
  z-index: 10;
}

.header.abajo {
  opacity: 0.7;
}

.header.abajo.sinOpacidad {
  opacity: 1;
}

.header_logo {
  font-weight: bold;
  font-size: 20px;
  margin: 15px;
  color: white;
}
.header_items a {
  margin: 15px;
  color: white;
  position: relative;
  text-decoration: none;
}
.header_toggle {
  display: none;
}

@media (max-width: 768px) {
  .header_items {
    position: fixed;
    top: 60px;
    left: 0;
    background-color: black;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: -webkit-fill-available;
    transform: translateX(-100%);
    transition: 0.3s ease all;
  }
  .header_items.open {
    transform: translateX(0);
  }
  .header_toggle {
    display: flex;
    flex-direction: column;
    margin: 15px;
  }
  .header_toggle span {
    width: 30px;
    height: 4px;
    background: white;
    margin-bottom: 5px;
    border-radius: 2px;
    transform-origin: 5px 0px;
    transition: all 0.2s linear;
  }

  /*En esta parte transformamos los palitos del menu hamburger en una X */
  /*aca rota un palito en / */
  .header_toggle.open > span {
    transform: rotate(45deg) translate(0px, 0px);
  }
  .header_toggle.open > span:nth-child(2) {
    display: none;
  }
  /*aca rota un palito en \ */
  .header_toggle.open > span:nth-child(3) {
    transform: rotate(-45deg) translate(-5px, 1px);
  }
}
