.card-container {
  display: flex;
  height: 340px;
  width: 340px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid 2px grey;
  margin-top: 60px;
  transition: 0.7s;
  padding: 20px;
}

.card-container:hover {
  margin-bottom: 40px;
  -webkit-box-shadow: -1px 32px 68px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 32px 68px -1px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 32px 68px -1px rgba(0, 0, 0, 0.75);
  transition: 0.7s;
}

.card-container-img {
  display: flex;
  align-items: center;
  height: 50%;
}

.card-img {
  height: 64px;
  width: 64px;
}

.card-container-title {
  text-align: center;
}

.card-container-description {
  text-align: center;
}
